.ShortenListing
  margin-top 50px
  header
    display flex
    align-items center
  h2
    margin-right 25px
    font-weight normal
  &-clear
    color $primaryColor
    cursor pointer
  table
    margin-top 35px
  a
    color $baseColor
    text-decoration none
  &-shortLink
    display block
    span
      color $primaryColor
  &-fullLink
    color darken($secondaryColor, 20%)