.ShortenForm
  form
    display flex
    align-items center
  .ShortenForm-field
    background $secondaryColor
    color $baseColor
    font-family $primaryNormal
    border none
    font-size 16px
    padding 10px
    flex-grow 1
    border-radius 4px
    margin-right 10px
  .ShortenForm-button
    border-radius 4px
    background $secondaryColor
    border none
    color $baseColor
    padding 10px
    font-size 16px
    font-family $primaryNormal
    &.typing
      background $primaryColor
      color #fff
      &:hover
        cursor pointer