// Font
$primaryNormal = 'AvenirNext-Regular'
$primaryBold = 'AvenirNext-DemiBold'

// Colors
$bgColor = #fcfbfa
$baseColor = #555555
$primaryColor = #eb4a42
$secondaryColor = #eaeaea

@import './AppContainer/components/header';
@import './HomeContainer/components/shortenForm';

body
  padding 0
  margin 0
  background $bgColor
  font-family $primaryNormal
  font-size 16px
  
ul, ol, h1, h2, h3, h4, h5, form, figure, p, input
  margin 0
  padding 0
button:focus
  outline none
input:focus
  outline none

h1
  font-size 47px
  color $primaryColor
  font-family $primaryBold
  font-weight normal

.AppContainer
  width 640px
  margin 0 auto

.HomeContainer
  margin-top 50px